{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if Info.pk %}
        Editar Pet
    {% else %}
        Novo Pet
    {% endif %}
{% endblock page_title %}


{% block content %}
    {% if Info.pk %}
        <h1>Editar informações do cadastro do Pet?</h1>
    {% else %}
        <h1>Novo Pet</h1>
    {% endif %}
        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }}
            
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
{% endblock content %}


